---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn" style="background-image: url('https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/download.png'); background-repeat: no-repeat; background-size: cover;">
            <div class="content" style="padding:0px">
                <div class="post-title">
                    <h1 style="color:black;">Shivam Verma</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            Hi, I am an experienced Data Scientist with expertise in building data-driven solutions that are fast, scalable, robust & generalizable. I always approach to tear constructs of a problem to grasp the fundamentals to extract and triangulate insights from the data. I can articulate my thoughts and opinions concisely, clarifying the objective to help formulate effective solutions for a business problem.<br><br>

                            Ever since my undergraduate, I have been involved in teaching & training. At IndiGo, I worked as a part of New Joiner's Training Program to teach fundamentals of Inventory Optimization, Demand Forecasting & Other RM concepts. At Cognilytics, I played a key role in training the US-Analytics team on Product Offer Optimization and Model Automation functionality using SAP Predictive Analytics. At IIT Delhi, I worked as a Mentor in the Student Mentorship Program & tutored underprivileged school students under the National Service Scheme.
                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn"> Responsibilites at Work </a><br>
                            <body style="font-size: 8; font-style: italic;">
                                <h3> IndiGo Airlines </h3> <b> (Nov'16 to Jul'19: 2 yrs 9 mos) </b> <br>
                                - Statistical analysis in the areas of Revenue Management, productivity improvement, operational excellence, revenue maximization. <br>
                                - Development of statistical models on demand forecasting, predictive analytics, machine learning, outlier identification, regression, and any other areas which may be required by the business. <br>
                                - Formulating hypotheses, validating using statistical analysis, and presenting the findings to the Business Leaders. <br>
                                - Field study and database mining by collating the data required for the analysis. <br>
                                <br>

                                <h3> CenturyLink Congilytics </h3> <b> (Jul'15 to Sep'16: 1 yr 3 mos) </b> <br>
                                - Handle Analytics consulting projects that solved the client's business problems through descriptive, prescriptive & predictive analytical solutions. 
                                - Research about potential consulting domains for analytics opportunities and develop Proof of Concept.
                                - Exploration of tools & platforms for big data-intensive machine learning tasks such as SAP Predictive Analytics, SAS, programming languages such as R & python, and database management systems such as SAP HANA & MySQL.
                            </body>
                        </li>
                    </ul>
                </div>

                <br>
                <div class="post-list">
                    <ul>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <h3> Bachelor of Technology from Indian Institute of Technology, Delhi </h3> <b> (Jul'11 to May'15: 4 yrs) </b> <br>
                            I come from a small city in India called Kanpur. Being an average student at school, studying from premiere engineering institutes like IITs was a big dream just like for 468,240 other students who appeared in IITJEE 2011. Passing the test required Herculean effort but the reward was a dream come true when I got a chance to study at IIT Delhi by being in the top 0.7% students.<br><br>

                            I attended various inter-departmental courses in subjects of my interest such as Mathematics, Computer Science, Finance, Economics and Psychology. Apart from my academic curriculum, I was an active member of Training & Placement Cell(TnP), Textile Engineering Society (TES), Student Mentorship Program(SMP) & National Service Scheme(NSS). 

                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">

                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">

                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">

                        </li>
                         <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">

                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">

                        </li>
                    </ul>
                </div class="post-list">


            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
