---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn" style="background-image: url('https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/journey.jpg'); background-repeat: no-repeat; background-size: cover;">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg" align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Assistant Manager</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/forecast-enhancement/">Forecast Enhancements</a>
                            <textarea style="font-size: 10;">
                                - Incorporated pricing changes in the forecast using price elasticity of demand to enhance inventory allocation<br>
                                - This enhancement linked pricing strategy and inventory allocation for effective Revenue Management<br>
                                - Reduced the runtime of forecasting method by 50% using double the historical data and with class-fares to adjust the forecast according to the fare structure decided by the market analyst
                            </textarea>
                        </li>
                    </ul>
                </div>

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg"  align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Senior Executive</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/DNN-forecast/">Neural Networks based Airline Passenger Load Pickup Forecasting</a>
                            <ul style="font-size: 10;">
                                <li>This was an attempt to replace the whole forecasting methodology with machine learning based modeling and integrate it with the Inventory Allocation system</li>
                                <li>It couldn't go into production because of 7 times higher training time, high complexity, less interpretability, worked better than simple forecasting based on historical flight mapping algorithm only on 70% of the network</li>
                                <li>Captured the impact of capacity changes, competition flight positioning, seasonality, current booked position, Net Days Out (NDO), holidays & breaks on demand forecasting</li>
                                <li>The aim was to predict the number of passengers that will book a travel ticket in the remaining days to departure of a flight for next 90 days of departures</li>
                            </ul>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/fare-realignment/">Fare Restructuring & Forecast Fare Adjustment Algorithm</a>
                            <ul style="font-size: 10;">
                                <li>Restructured the fares to remove fare values that didn't sell and match fare values closer to competition. The impact of changing the Fare-structure on the forecast was captured by the fare adjustment algorithm</li>
                                <li>Estimated market level demand curve & price elasticity using Monotone Spline Interpolation</li>
                                <li>Maximized revenue by optimizing fares on demand curve using shortest path algorithm, considering market competition</li>
                                <li>Estimated impact of fare restructuring on revenue to be 1-2% and quick reaction to competition’s fare action</li>
                            </ul>
                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg"  align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Executive</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/RMNext/">Seat Inventory Optimization System(RMNext)</a>
                            <ul style="font-size: 10;">
                                <li>At IndiGo, I front led the development of an in-house Inventory Optimization System that incorporated a forecasting model, an optimization model, and a strategic decision tree to match competition in the market which none other Indian carrier had done before</li>
                                <li>This led to Q-o-Q 5−7% improvement in RASK (Revenue/Available Seat KMs) and expected Y-o-Y improvement of approximately 5%</li>
                                <li>I was awarded High Business Impact & 6e Achiever. I was also among 18 finalists for the “Employee of the Year” award out of 14,000 employees</li>
                            </ul>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/Forecast-365/">Long Term Route level Forecast using Linear Regression</a>
                            <ul style="font-size: 10;">
                                <li>Developed route specific travelled Load Factor forecasting models based on linear regression for future 365 days of departure</li>
                                <li>Classified holidays & breaks to create RM events calendar and designed their impact behavior on each sector’s Load Factor (LF)</li>
                                <li>Improved financial reporting system to show more scientific LF forecasts for Annual Operations Planning (AOP)</li>
                            </ul>
                        </li>

                    </ul>
                </div class="post-list">
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
