---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn" style="background-image: url('https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/journey.jpg'); background-repeat: no-repeat; background-size: cover;">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg" align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Assistant Manager</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/forecast-enhancement/">Forecast Enhancements</a>
                            <ul>
                                <li>Incorporated pricing changes in the forecast using price elasticity of demand to enhance inventory allocation.</li>
                                <li>This enhancement linked pricing strategy and inventory allocation for effective Revenue Management.</li>
                                <li>Reduced the runtime of forecasting method by 50% using double the historical data and with class-fares to adjust the forecast according to the fare structure decided by the market analyst.</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg"  align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Senior Executive</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/DNN-forecast/">Neural Networks based Airline Passenger Load Pickup Forecasting</a>
                            <p>Attempt to Implementation: Couldn't go live because of 7(56/8) times higher training time, high complexity, less interpretability, worked better than simple additive pickup model only on 70% of the network.</p>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/fare-realignment/">Fare Restructuring & Forecast Fare Adjustment Algorithm</a>
                            <br><i>Commercial | Revenue Planning & Analysis | Senior Executive</i>
                            <p>Restructured the fares to remove fare values that didn't sell and match fare values closer to competition. The impact of changing the Fare-structure on the forecast was captured by the fare adjustment algorithm.</p>
                        </li>
                    </ul>
                </div class="post-list">

                <br>
                <div class="post-list">
                    <ul>
                        <li style="color: blue; opacity: .8;">
                            <i><img src="https://raw.githubusercontent.com/vermashivam679/Moontheworld/master/assets/img/indigo_logo.jpg"  align="left"> IndiGo Airlines | Commercial | Revenue Planning & Analysis | Executive</i>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/RMNext/">Seat Inventory Optimization System(RMNext)</a>
                            <p>As part of Revenue Planning & Analysis Team, I developed a seat inventory optimization model based on Expected Marginal Seat Revenue (EMSR-b) with a unique way of matching competitor’s fares.</p>
                        </li>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s" style="background-color: #ffffff; opacity: .8; ">
                            <a class="zoombtn" href="https://vermashivam679.github.io/Moontheworld/Forecast-365/">Long Term Route level Forecast using Linear Regression</a>
                            <br><i>Commercial | Revenue Planning & Analysis | Executive</i>
                            <p>Developed route specific travelled Load Factor forecasting models for future 365 days of departure.</p>
                        </li>

                    </ul>
                </div class="post-list">
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
